.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.3);
}

.navbar i{
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .3s;
        &:hover{
            color: $rosa;

    }
}




.header{
    img{
        height: 100px;
        width: auto;
        margin-right: 10px;
        }
        
}  

