/* RESPONSIVE INDEX*/
@media (max-width: 896px){
    .grid-index{ grid-template-areas:
        "header header header header"
        "banner banner banner banner"
        "carrusel carrusel carrusel carrusel"
        "titulo-1 titulo-1 titulo-1 titulo-1"
        "divDestacados divDestacados divDestacados divDestacados"
        "titulo-2 titulo-2 titulo-2 titulo-2"
        "box-5 box-5 box-6 box-6"
        "titulo-3 titulo-3 titulo-3 titulo-3"
        "box-7 box-7 box-8 box-8";
    }
    h1{
        font-size: 1.5rem;
    }
    .producto h2{
        font-size: 1.2rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .addCarrito{
        font-size: .8rem;
        
    }  
    
}
   

@media (max-width: 480px){
    .grid-index{       
        grid-template-areas:
        "header header header header"
        "banner banner banner banner"
        "carrusel carrusel carrusel carrusel"
        "titulo-1 titulo-1 titulo-1 titulo-1"
        "divDestacados divDestacados divDestacados divDestacados"
        "titulo-2 titulo-2 titulo-2 titulo-2"
        "box-5 box-5 box-5 box-5"
        "box-6 box-6 box-6 box-6"
        "titulo-3 titulo-3 titulo-3 titulo-3"
        "box-7 box-7 box-7 box-7"
        "box-8 box-8 box-8 box-8";
    }
    h1{
        font-size: 1.5rem;
    }
    .btnCarrito-buscar{
        display: flex;
       
    }
    
   
    
}

/* RESPONSIVE PAGINA TIENDA*/

@media (max-width: 480px){
    .grid-tienda2{       
        
    h1{
        font-size: 1.3rem;
    }
}
}

/* RESPONSIVE PAGINA DESCARGAS*/
@media (max-width: 480px){
    .grid-descargas{       
        grid-template-areas:
        "header header header header"
        "banner banner banner banner"
        "titulo-1 titulo-1 titulo-1 titulo-1"
        "box-1 box-1 box-1 box-1"
        "box-2 box-2 box-2 box-2"
        "box-3 box-3 box-3 box-3"
        "box-4 box-4 box-4 box-4"
        "box-5 box-5 box-5 box-5"
        "box-6 box-6 box-6 box-6"
        "carrusel carrusel carrusel carrusel"
       
    }
    h1{
        font-size: 1.5rem;
    }
}

/* RESPONSIVE PAGINA BLOG*/
@media (max-width: 480px){
    .grid-blog{       
        grid-template-areas:
        "header header header header"
        "banner banner banner banner"
        "titulo-1 titulo-1 titulo-1 titulo-1"
        "box-1 box-1 box-1 box-1"
        "box-2 box-2 box-2 box-2"
        "box-3 box-3 box-3 box-3"
        "box-4 box-4 box-4 box-4"
        "carrusel carrusel carrusel carrusel"
       
    }
    h1{
        font-size: 1.5rem;
    }
}