@mixin escala {
    .contenedor-img{
        overflow: hidden;
        margin-bottom: 10px;
        img{
            &:hover{
                transform: scale(1.3);
                transition: 1.5s;
                
    
            }
        }
    
        
    }
}

@mixin boton {
    .boton{
        background-color: $rosa;
        padding: 10px;
        border-radius: 6px;
        font-weight: bold;
        color: $blanco;
        &:hover{
            background-color: pink;
        }
        
    }
  
}

.producto{
    @include escala;
    @include boton;
    p{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
   
    
}


.blog{
    p{
        text-align: justify;
    }
    span{
        color: $gris2;
        font-size: .9rem;
    }
    img{
        margin-bottom: 5px;
    }
    @include boton;
}

.descargas{
    p{
        text-align: justify;
    }
    img{
        margin-bottom: 5px;
    }
    @include boton;
}